.body-pages {
  width: 80%;
  height: 100%;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #FFF;
}

.header {
  text-align: center;
  border: solid 1px #000;
  border-radius: 50px;
  padding: 5px;
  margin-bottom: 30px;
  margin-top: 50px;
}

.text-header {
  margin: 0;
}

.btn-new-register {
  border-radius: 80px;
  padding-left: 80px;
  padding-right: 80px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
